div#ga .window-header {
  display: none;
}

div#ga .window-content {
  display: flex;
  flex-direction: row;
  background-image: url('../assets/parchment-texture.webp');
  background-color: #E9E8DE;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #790000;
  padding: 2rem;
}

.ga-header h3 {
  font-size: 24px!important;
  text-align: center;
}

.ga-counters {
  display: flex;
}

.ga-input {
  width: 150px;
}

.ga-input h3 {
  text-align: center;
  font-size: 30px!important;
}

.ga-input .input-controls {
  display: flex;
  justify-content: center;
}

.ga-input .input-controls a {
  background-color: #790000;
  color: #ffffff;
  padding: 5px 10px;
  border: 0px solid transparent;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.ga-input .input-controls a.decr {
  border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
}

.ga-input .input-controls a.incr {
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
}

.ga-input .input-controls input {
  max-width: 50px;
  height: 50px;
  color: #790000;
  font-size: 30px;
  text-align: center;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.ga-input .input-controls input:focus {
  outline: none;
  box-shadow: none;
}

.ga-controls {
  font-size: 22px;
  position: absolute;
  top: 10px;
  left: 20px;
}

.ga-options-list {
  position: absolute;
  top: 85%;
  left: 0;
  width: 650px;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: url('../assets/parchment-texture.webp');
  background-color: #E9E8DE;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #790000;
  padding: 1rem;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all .25s linear;
  box-shadow: 0px 0px 9px 3px #000;
}

.ga-options-list.show {
  opacity: 1;
  z-index: 1;
  visibility: visible;
}

.option {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem .25rem;
  border-bottom: 1px solid #790000;
}

.option .cost {
  width: 100px;
  padding: 1rem .25rem;
}

.option .effect {
  width:  100px;
  padding: 1rem .25rem;
}

.option .description {
  width: calc(100% - 200px);
  padding: 1rem .25rem;
}
